*,
::before,
::after {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  display: flex;
  margin: 3rem auto;
  flex-wrap: wrap;
  flex-direction: column;
}

.list-image {
  width: 250px;
  margin-top: 15px;
}

.portfolio {
  column-count: 3;
  max-width: 800px;
}

.button-wrapper {
  padding-top: 10px;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px 10px;
  background-color: white;
  border: 1px solid black;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:not(:first-child) {
  margin-left: 4px;
}

button:hover {
  background-color: rgb(65, 65, 65); /* Green */
  color: white;
}

.selected-button {
  background-color: rgb(65, 65, 65);
  color: white;
}
